<%- include('./partials/html-head') %>
<%- include('./partials/nav') %> 
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input">
    <label for="date-input">Date:</label>
    <input type="date" name="date" id="date-input">
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('./partials/footer') %> 